# macOS
.DS_Store

# Logs
logs
*.log

# Maven
target/

# Doc
html/

# Dependency directories
node_modules/
package-lock.json

# IntelliJ IDEA
out/
dist/
.idea/
**.iml
**.eml

# Eclipse
.settings/
.project
.classpath

# Sonar
.sonarlint/